/* Universal Styling **/
  *, 
  *:before, 
  *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/* Set backgoriund color for App */
body {
    background-color: #F5F1EA;
}


/*
The below styles set the basic layout of the page.
They divide the page in 3 sections indicating each section's height
*/
#wrapper {
    height: 100vh;
}

#head-row,
#foot-row {
    height: 10%;
}

/* Main section with all content */
#content-row {
    height: 70%;
}

/* Size of the quiz Icon Image */
#quiz-icon {
    height: 250px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
/* Stylings for the text below the image icon*/
#heading1 {
    margin-top: 20px;
    font-size: 3.5em;
    margin-bottom: 5px;
}

#heading2 {
    margin-bottom: 5px;
}

#heading2,
#heading3 {
    font-size: 2em;
}

/*Main button */
#button {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* Restart button that is diaplsyed end of game */
#restart-btn {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

/* input for the user name */
#nameInputDiv{
    display: none;
    margin-bottom: 20px;
}

/* error that is displayed is input validation is unsuccessful */
#nameError {
    font-size: 0.45em;
    color: #4d4d4d;
    margin-top: 5px;
    display: none;
}

/* div containing all th einstructions */
#steps-wrapper {
    display: none;
    margin-top: ;
    font-size: 1.5em;

}

/* styling for the span that displays the player name /
/ on the instructions page */
#playerName {
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
    
}

/* the main container when the quiz is running */
#quiz-div{
    margin-top: 20px;
    display: none;
}

/* timer */
#quiz-time {
    font-size: 4em;
}

/* styling for the quiz questions */
#quiz-question {
    font-size: 3.5em;
    margin-bottom: 35px;
    margin-top: 35px;
}

/* stylings for the answer buttons*/
.option-btn{
    padding: 5px;
}

#A,
#B,
#C,
#D   {
    width: 225px;
}

/* "Save score" 7 "Play Again" buttons */ 
#menu-btn1,
#menu-btn2 {
    margin-top: 35px;
    width: 150px;
}
/* score table styles */
#score-table-div {
    display: none;
}

#score-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 1.75em;
}

/*styling for the red "correct & /
/ green "incorrect"*/
#ans-check {

    padding-top: 10px;
    font-size: 2.5em;
    font-weight: 400;
}
